*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  // background-color: $primary-color;
  background-image: url('../img/betty-bg.jpg');

  // background-attachment: cover;
  background-size: cover;
  // background-attachment: cover;
  color: #fff;
}
