.history {
  background-image: url('../img/history-bg.jpg');
  height: 100vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80% 30%;
  background-repeat: none;
  // filter: blur(3px) brightness(50%);

  &__header-container {
    position: absolute;
    text-align: center;
    margin: 20rem auto;
    display: block;
    width: 100%;
  }

  &__header-1 {
    font-size: 2rem;
  }
  &__header-2 {
    font-size: 1.5rem;
  }

  // &__header {
  //   position: absolute;
  //   // display: block;
  //   text-align: center;
  //   width: 100%;
  //   z-index: 4;
  //   top: 20rem;
  //   margin: 0 auto;
  // }

  &__header-1 {
    filter: blur(0);
  }
}
