.menu-btn {
  position: absolute;
  z-index: 3;
  right: 3.5rem;
  top: 3.5rem;
  cursor: pointer;
  position: fixed;
  z-index: 5;
  @include easyPeasy;

  .btn-line {
    width: 3rem;
    height: 3px;
    margin: 0 0 0.5rem 0;
    background: #fff;
    @include easyPeasy;
  }
  &.close {
    transform: rotate(180deg);

    .btn-line {
      //line 1 hamburger //
      &:nth-child(1) {
        transform: rotate(45deg) translate(0.5rem, 0.5rem);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(0.7rem, -0.6rem);
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.95;
  height: 100vh;
  visibility: hidden;
  z-index: 4;

  &-nav {
    position: relative;
  }

  &__nav-link {
    text-decoration: none;
    font-size: 2.5rem;
    color: #fff;
    position: relative;
    // z-index: 999;
    font-weight: 800;
    @include easyPeasy;
  }

  &__nav-link:hover {
    color: black;
  }

  &.show {
    visibility: visible;
    // z-index: 9;
  }

  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    line-height: 2;
    @include easyPeasy;

    // &-nav:hover {
    //   transform: translate(1.5);
    // }

    &.show {
      //slide in from top, kind of a big deal //
      transform: translate3d(0, 0, 0);
    }
  }

  .nav-item {
    font-size: 3rem;
    visibility: hidden;
    text-decoration: none;
    transform: translate3d(70rem, 0, 0);
    @include easyPeasy;

    &.show {
      //slide in from right //
      visibility: visible;
      transform: translate3d(0, 0, 0);
    }
  }

  &.nav-item:hover {
    transform: translate3d(0, 0, 0) skew(45deg);
  }
}

@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.3s;
  }
}
